

.row {
    display: flex;
    align-items: center;
    
}

.audio-padding-right {
    padding-right: 20px;
}

.text-input {
    margin-top: 20px;
    height: 100px;
    width: 495px;
    padding: 10px;
}

.button-save {
    margin-top: 10px;
    height: 40px;
    width: 100px;
    padding: 10px;
}
