.header {
    background: #241919;
    border-bottom: 5px solid #333;
    color: #ffffff;
    height: 70px;
    line-height: 30px;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
}

.header-title {
    width: 70%;
    padding-left: 10%;
}

.user {
    width: 30%;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: flex-end;
}