.content {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background-color: #707070a9;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}

.level {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background-color: #ffffffcb;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 50px;
    border-radius: 10px;
    color: #1d104bcb;
}

.flex-row {
    display: flex;
    flex-wrap: wrap
}

.marginHorizontal {
    left: 10px;
    margin-right: 10px;
    
}

.button {
    background-color: #1c1c1ce5;
    border: 2px solid #f1f1f179;
    margin: 10px;
    width: 60px;
    height: 30px;
    text-align: center;
    justify-content: center;
    color: #ececec;
    border-radius: 15px;
}
