.navBar {
    height: 100px;
    line-height: 70px;
    padding: 0;
    top: 270px;
    width: 100%;
    border-top: 1px solid #ffffff96;
    border-bottom: 1px solid #ffffff96;
    background-color: #1c1c1c;
    list-style-type: none;
}

ul {
    background-color: #1c1c1c;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5d336e;
    color: #ffffffdc;

}

.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover:not(.active) {
    background-color: #351442;
    color: #ffffffdc;

}

.active {
    background-color: #351442;
}

.dropbtn-active {
    background-color: #351442;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/*Hover*/

.dropbtn {
    background-color: #1c1c1c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c1c1c;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-link {
    color: #ffffffdc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .dropdown-content-link:hover {background-color: #351442;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #351442;}