.news {
    background-color: #1c1c1c;
    height: 65px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    
}

.topic {
    font-size: 20px;
    color: #ffffffef

}

.content-padding-right {
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}